<!DOCTYPE html>

<head>
    <title>Sebi Negoescu's Profile</title>
</head>
<body>
    <h3>Welcome to my profile!</h3>
    <br>
    <p style="font-family:'Times New Roman', Times, serif; font-style:italic">Under Development</p>
    {% for job in jobs %}
    <ol>
        <a href="{% url 'job_detail' job.id %}">
            <h4 style="font-weight: bold; font-family:Verdana, Geneva, Tahoma, sans-serif">{{ job.id }}. {{ job.title|title }} at {{ job.employer|title }}</h4>
        </a>
            {% if job.end_date %}
            <p style="font-style:italic">Period: {{ job.start_date }} - {{ job.end_date }}</p>
            {% else %}
            <p style="font-style:italic">Period: {{ job.start_date }} - Present</p>
            {% endif %}
        <p>Description: {{ job.description|linebreaks }}</p>
    </ol>
    {% endfor %}
</body>