<!DOCTYPE html>
<head>
    <title>Sebi Negoescu's Profile</title>
</head>
<body>
    <h4 style="font-weight: bold;">Position: <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{ job.title }}</span></h4>
    <h5 style="font-weight: bold;">Employer: <span style="font-family:'Times New Roman', Times, serif"> {{ job.employer }}</span></h5>
    <h5 style="font-weight: bold;">Location: {{ job.location }}</h5>
    {% if job.end_date %}
        <h5 style="font-weight: bold;">Period: <span style="font-style: italic;"> {{ job.start_date }} - {{ job.end_date }}</span></h5>
        {% else %}
        <h5 style="font-weight: bold;">Period: <span style="font-style: italic;">{{ job.start_date }} - Present</span></h5>
    {% endif %}
    <h5 style="font-weight: bold;">Description: <span style="font-style: normal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ job.description }}</span></h5>
</body>